﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img style="height:50px" src="/images/hackerspacelogobluegold.png" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calculator">
                <span class="oi oi-tablet" aria-hidden="true"></span> Calculator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="speedfeedcalc">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> Speed and Feed Calc
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blog">
                <span class="oi oi-double-quote-serif-right" aria-hidden="true"></span>Blog
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-question-mark" aria-hidden="true"></span> About
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="formdemo">
                <span class="oi oi-document" aria-hidden="true"></span> Form Demo
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}