﻿@page "/blog"
@inject HttpClient http;
@inject NavigationManager NavManager

<h3>Blog</h3>
@if(posts == null)
{
    <p>Loading...</p>
}
else
{
    <p>
        <button type="button" class="btn btn-primary" @onclick="OnPreviousClickAsync">Previous Page</button>
        <button type="button" class="btn btn-primary" @onclick="OnNextClickAsync">Next Page</button>
    </p>
    @foreach(var post in posts)
    {
        <p>
            @post.Date.ToString("D") 
            <a href="post/@post.Id">@post.Title</a>
            <button type="button" class="btn btn-primary" @onclick="()=>OnEditClick(post.Id)">Edit</button>
            <button type="button" class="btn btn-danger" @onclick="()=>OnDeleteClickAsync(post.Id)">Delete</button>
        </p>
    }
    <button type="button" class="btn btn-primary" @onclick="OnAddPostClick">Add Post</button>
    @message
}


@code {
    private List<Post>? posts;
    private string message;
    private int page = 1;

    protected override async Task OnInitializedAsync()
    {       
        await base.OnInitializedAsync();
        posts = await http.GetFromJsonAsync<List<Post>>($"api/Posts/{page}/10");
    }

    protected void OnAddPostClick()
    {
        //Navigate to a detail page
        NavManager.NavigateTo("editpost");
    }

    protected async Task OnPreviousClickAsync()
    {
        if (page > 1)
        {
            posts = await http.GetFromJsonAsync<List<Post>>($"api/Posts/{--page}/10");
        }
    }

    protected async Task OnNextClickAsync()
    {
        var nextPagePosts = await http.GetFromJsonAsync<List<Post>>($"api/Posts/{page + 1}/10");

        if(nextPagePosts?.Count > 0)
        {
            posts = nextPagePosts;
            page++;
        }
    }


    protected async Task OnEditClick(int id)
    {
        NavManager.NavigateTo($"/editpost/{id}", true); 
    }

    protected async Task OnDeleteClickAsync(int id)
    {
        var result = await http.DeleteAsync($"api/Posts/{id}");
        NavManager.NavigateTo($"/blog", true); //Force reload of page
    }
}