@page "/post/html"
@inject HttpClient http
@inject NavigationManager NavManager

<h3>Blog Post</h3>
    <div class="form-group">
        <label for="post.Title">Title</label>
        <input type="text" class="form-control" id="title" aria-describedby="title of blog post" placeholder="Enter title" @bind="post.Title">
        <small id="titleHelp" class="form-text text-muted">Please enter a title for your blog post.</small>
    </div>
    <div class="form-group">
        <label for="post.Date">Date</label>
        <input type="date" class="form-control" id="date" aria-describedby="Date of blog post" placeholder="Enter date" @bind="post.Date">
        <small id="titleHelp" class="form-text text-muted">Please enter a date for your blog post.</small>
    </div>
    <div class="form-group">
        <label for="post.Text">Text</label>
        <textarea class="form-control" id="text" rows="3" aria-describedby="text of blog post" placeholder="Enter text of blog post." @bind="post.Text"></textarea>
        <small id="textHelp" class="form-text text-muted">Please enter the text for your blog post.</small>
    </div>
    <button type="submit" class="btn btn-primary" @onclick="OnSubmitClicked">Submit</button>


@code {
    //instantiate a data object from a model class
    private Post post = new Post();

    protected void OnSubmitClicked()
    {
        http.PostAsJsonAsync<Post>("api/Post",post);

        NavManager.NavigateTo("blog");
    }
}

