@page "/editpost/{int:id}"
@page "/editpost"
@inject HttpClient http
@inject NavigationManager NavManager

<h3>Blog Post</h3>
<div class="form-group">
    <label for="post.Title">Title</label>
    <InputText class="form-control" id="title" aria-describedby="title of blog post" placeholder="Enter title" @bind-Value="post.Title"/>
    <small id="titleHelp" class="form-text text-muted">Please enter a title for your blog post.</small>
</div>
<div class="form-group">
    <label for="post.Date">Date</label>
    <InputDate @bind-Value="post.Date" class="form-control" aria-describedby="date of blog post" placeholder="Enter date" />
    <small id="titleHelp" class="form-text text-muted">Please enter a date for your blog post.</small>
</div>
<div class="form-group">
    <label for="post.Text">Text</label>
    <InputTextArea class="form-control" id="text" rows="3" aria-describedby="text of blog post" placeholder="Enter text of blog post." @bind-Value="post.Text"></InputTextArea>
    <small id="textHelp" class="form-text text-muted">Please enter the text for your blog post.</small>
</div>
<button type="submit" class="btn btn-primary" @onclick="OnSubmitClicked">Submit</button>


@code {
    [Parameter]
    public int? Id { get; set; } = null;
    private Post? post;

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if(Id == null)
        {
            post = new Post();
        }
        else
        {
            post = await http.GetFromJsonAsync<Post>($"api/Posts/{Id}");
            if(post == null)
            {

            }
        }
    }

    protected async void OnSubmitClicked()
    {
        if (post?.Id == 0)// new post
        {
            var result = await http.PostAsJsonAsync<Post>("api/Post", post);
            if (result.IsSuccessStatusCode)
            {
                NavManager.NavigateTo("blog");
            }
        }
        else if (post == null)
        {
            //add an alert
        }
        else
        {
            var result = await http.PutAsJsonAsync<Post>("api/Posts", post);
        }
        NavManager.NavigateTo("blog");
    }
}

