@page "/blog"
@inject HttpClient http;
@inject NavigationManager NavManager

<h3>Blog</h3>
@if(posts == null)
{
    <p>Loading...</p>
}
else
{
    @foreach(var post in posts)
    {
        <p>@post.Date.ToString("D") 
            <a href="post/@post.Id">@post.Title</a>
        </p>
    }
    <button type="button" class="btn btn-primary" @onclick="OnAddPostClick" >Add Post</button>
}


@code {
    private List<Post>? posts;

    protected override async Task OnInitializedAsync()
    {       
        await base.OnInitializedAsync();
        posts = await http.GetFromJsonAsync<List<Post>>("api/Posts");
    }

    protected void OnAddPostClick()
    {
        //Navigate to a detail page
        NavManager.NavigateTo("post");
    }
}